<header class="bg-[#FCFCFC] flex justify-between p-4 rounded-md top-0 sticky">
  <div class="flex items-center space-x-2">
    <img src="../../../assets/IconSet.png" alt="" />
    <img src="../../../assets/Button.png" alt="" />
      <span class="text-black text-opacity-40">Dashbords</span>
      <span>/Default</span>
 
  </div>
  <div class="flex space-x-2 items-center">
    <div class="pl-3 flex items-center ">
      <div class="absolute pointer-events-none pl-2 flex items-center">
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          className="w-6 h-6"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </div>
      <input
        type="text"
        placeholder="Search"
        class="bg-black bg-opacity-5 block w-full pl-8 rounded-lg p-2 focus:border-transparent focus:outline-none"
      />
    </div>
    <img src="../../../assets/Button (1).png" alt="" />
    <img src="../../../assets/Button (2).png" alt="" />
    <img src="../../../assets/Button (3).png" alt="" />
    <img src="../../../assets/Button (4).png" alt="" />
  </div>
</header>

