<p-toast />
<form [formGroup]="formExpense"  (ngSubmit)="createExpense()" class="p-5 bg-white space-y-8">
  <p class="text-2xl  text-[#091626]  font-extralight flex items-center gap-2">New Expense<mat-icon >star</mat-icon></p>
    <!-- <p class="text-gray-800">Les coordonnées de vos clients apparaîtront sur les factures et dans leurs profils.
    </p> -->
  

  <div  class="flex flex-col space-y-6  w-4/6">
  <hr />
    <div class="flex space-x-6">
      <div class="flex flex-col w-full space-y-2">
         <label class="text-sm text-gray-800">
          Category <span class="text-red-600">*</span>
        </label>
        <!-- <select name="" id="">
            <option value="">Office Equipment</option>
            <option value="">Salary</option>
            <option value="">Travel</option>
        </select> -->
          <div class="flex space-x-5">
          <div class="space-x-2">
          <input formControlName="expenseCategory" type="radio" id="Service" value="Office_Equipment" checked />
          <label for="Service">Office Equipment</label>
        </div>

        <div class="space-x-2">
          <input formControlName="expenseCategory" type="radio" id="Salary" value="Salary" />
          <label for="Salary">Salary</label>
        </div>
         <div class="space-x-2">
          <input formControlName="expenseCategory" type="radio" id="Travel" value="Travel" />
          <label for="Travel">Travel</label>
        </div>
        </div>
      </div>
      <div class="flex flex-col w-full space-y-2">
        <label class="text-sm text-gray-800">
          Date <span class="text-red-600">*</span>
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="date"
          placeholder="Date"
          formControlName="date"
        />
      </div>
        <div
          *ngIf="
            formExpense.get('date')?.invalid &&
            (formExpense.get('date')?.dirty || formExpense.get('date')?.touched)
          "
          class="text-red-500 text-sm"
        >
          the date of the expense is required
        </div>
    </div>

    <div class="flex space-x-6">
      <div class="flex flex-col w-full space-y-2">
         <label class="text-sm text-gray-800">
          Amount <span class="text-red-600">*</span>
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="number"
          min="1"
          placeholder="Amount"
          formControlName="amount"
        />
          <div
          *ngIf="
            formExpense.get('amount')?.invalid &&
            (formExpense.get('amount')?.dirty || formExpense.get('amount')?.touched)
          "
          class="text-red-500 text-sm"
        >
          the amount of the expense is required
        </div>
      </div>
      <div class="flex flex-col w-full space-y-2">
        <label class="text-sm text-gray-800">
          Notes <span class="text-red-600">*</span>
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="text"
          placeholder="Note"
          formControlName="notes"
        />
      </div>
    </div>
   
      <button
      [disabled]="formExpense.invalid"
      class="w-28 text-white transition-colors p-2 rounded-md bg-[#091626] text-sm font-light"
    >
      Save Expense
    </button>
  </div>
</form>
