<p-toast />
<form
  [formGroup]="formcompany"
  (ngSubmit)="createCompany()"
  class="p-5 space-y-6 rounded-md bg-white"
>
<p class="text-2xl text-[#091626] font-extralight">Create new company</p>
  <div class="flex flex-col space-y-8 w-4/6">
    <div class="text-gray-500 font-normal space-y-1 flex flex-col">
      <p>This information is visible in the records you create</p>
    <hr>
  </div>
    <div class="flex space-x-6">
      <div class="flex flex-col w-full space-y-1">
        <label class="text-sm text-gray-800">
            Name 
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="text"
          placeholder="Name"
          formControlName="companyName"
        />
        <div *ngIf="formcompany.get('companyName')?.invalid && (formcompany.get('companyName')?.dirty || formcompany.get('companyName')?.touched)" class="text-red-500 text-sm">Name is required</div>

      </div>
      <div class="flex flex-col w-full space-y-1">
        <label class="text-sm text-gray-800">
          Email
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
           <div *ngIf="formcompany.get('email')?.invalid && (formcompany.get('email')?.dirty || formcompany.get('email')?.touched)" class="text-red-500 text-sm">Email is required</div>

      </div>
    </div>

     <div class="flex space-x-6">
      <div class="flex flex-col w-full space-y-1">
        <label class="text-sm text-gray-800">
           Address 
        </label>
        <input
          class="bg-[#FCFCFC] px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm"
          type="text"
          placeholder="Address"
          formControlName="address"
        />
         <div *ngIf="formcompany.get('address')?.invalid && (formcompany.get('address')?.dirty || formcompany.get('address')?.touched)" class="text-red-500 text-sm">Address is required</div>
      </div>
      <div class="flex flex-col">
        <label class="text-sm text-[#091626]"> Your role in this company  </label>
         <span class="bg-[#FCFCFC] w-56 px-3 py-2 border border-gray-200 rounded-md shadow-sm placeholder-gray-400 focus:outline-gray-200 sm:text-sm">
          ADMIN
         </span>
          <!--         
        <select name="role" id="role" formControlName="role">
          <option value="ADMIN">ADMIN</option>
          <option value="MANAGER">MANAGER</option>
          <option value="EMPLOYEE">EMPLOYEE</option>
        </select> -->
      </div>
    </div>
    <button
      [disabled]="formcompany.invalid"
      class="w-28 text-white transition-colors p-2 rounded-md bg-[#091626] text-sm font-light"
    >
      Save
    </button>
  </div>
</form>
