<div class="pt-5 mx-1 space-y-9 ">
  <p class="text-2xl text-gray-600 font-light">Setting:</p>
  <div class="flex">
    <!-- <div class="flex  flex-col space-y-2  ">
        <span routerLink="/home/setting" class=" text-gray-500 font-medium p-2 rounded-md hover:bg-gray-50 hover:cursor-pointer">Users</span>
        <span routerLink="/home/setting/account" class=" text-gray-500 font-medium p-2 rounded-md hover:bg-gray-50 hover:cursor-pointer">Account </span>
        <span routerLink="/home/setting/company" class=" text-gray-500 font-medium p-2 rounded-md hover:bg-gray-50 hover:cursor-pointer">Company </span>
        <span routerLink="/home/setting/tax" class=" text-gray-500 font-medium p-2 rounded-md hover:bg-gray-50 hover:cursor-pointer">Taxes</span>
    </div> -->
    <router-outlet></router-outlet>
  </div>
</div>